@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway);

html,
body {
    width: 100%;
    height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
    font-family: 'Lato', sans-serif;
}

hr {
   width:70%;
}

hr.light {
    border-color: #fff;
}

a {
    color: #027cd5;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {

font-weight: 200;
  
}

p {
    margin-bottom: 20px;
    
    line-height: 1.5;
}
.btnBuy{
    position: absolute;
    bottom: 50px;
    left: 45%;}
.bg-primary {
    background-color: #027cd5;
}

.bg-dark hr{ border-top: 1px solid #ddd;}
.bg-dark {
  color: #222;
    background-color: #eee;
    //border-top: 1px solid #eee;
	

}
.loader img{ margin-top:20%;}
.loader{    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20000;
    background: #027cd5;
    top: 0px;
    bottom: 0px;
    left: 0px;}
.logo{    background:transparent;
    
    border-radius: 100%;
    text-align: center;
    border: 2px solid #027cd5;}
.logo img{    width: 90px;
    }
.footer .footerCard{margin-top:15px;}
.footer {
  //color: #fff;
    background-color: #eee;
    border-top: 1px solid #eee;

}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 80px 0;
}

aside {
    padding: 50px 0;
}
.unique img{border-radius:100%;width:150px;}
.unique{text-align:center;}
  
  .footerList h5{color:#f90;}
  .footerList {text-align:center;color:#999;}
  .footerList ul{margin:0px;padding:0px;list-style:none;}
  //.sliderMain,.productPage{margin-top:50px;}
  .carousel-control.left,.carousel-control.right{background-image:none;}

.no-padding {
    padding: 0;
}
.social a{margin:10px;}
.modal-content{border-radius:0px;}
.form-control{border-radius:0px;box-shadow:0px 0px 0px #000;}

.navbar-toggle{border-radius:0px;}
.dropdown-menu{border-radius:0px;border:0px;}
.navbar-default {
 border-color:rgba(238, 238, 238, 0);
		background-color: #027cd5;border:0px;    border-radius: 0px;
    margin-bottom: 0px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background:#027cd5;}
.navbar-default .navbar-header .navbar-brand {
      
    font-weight: 700;
    color: #027cd5;
	margin-top:-10px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
   
    font-size: 13px;
    font-weight: 500;
    color:#fff;
}
.navbar-default .navbar-toggle{border-color:transparent;color:#fff}
.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #fff;
	
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border-top:1px solid #175096;}
@media(min-width:768px) {
.logo{    background: #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    border: 2px solid #027cd5;}
.logo img{    width: 90px;
    margin-top: 15px;}

.courses div{border-bottom:0px;}
.modal-dialog{width:400px;}
    .navbar-default {
        border-color:rgba(238, 238, 238, 0);
		background-color: #027cd5;border:0px;    border-radius: 0px;
    margin-bottom: 0px;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color:#fff;
		padding:20px 10px;
		
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #027cd5;
    }

    .navbar-default.affix {
        //border-color: rgba(34,34,34,.05);
       // background-color: #fff;
		border:0px;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #027cd5;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
       // color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #027cd5;
    }
	
	
}
.searchBand{margin:13px 0px 10px 0;}
.sliderMain, .productPage{

    margin-top: 105px;

}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #222;
    background-image: url(../img/banner9.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	//background:#f0f0f0;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 100;
	
	
	
		
}

header .header-content .header-content-inner hr {
    margin: 20px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
	  .sliderMain,.productPage{margin-top:60px;}
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;    
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #027cd5;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
   
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #027cd5;
    color: #fff;
    background-color: #027cd5;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #027cd5;
    background-color: #027cd5;
}

.btn-primary .badge {
    color: #027cd5;
    background-color: #fff;
}

.btn {
   
    border-radius:0px;
    border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
    
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}
.itemFish:hover{border:1px solid #027cd5;}
.itemFish .btn{margin-bottom:10px;}
.itemFish{text-align:center;margin-bottom:15px;border:1px solid #fff;}
.itemFish img{margin:5px 0px 0px;width:180px;}
.itemFish h3{margin-top:5px;color:#f90}
.itemFish p{font-size:0.8em;}
.itemFish span{color:#19bc9c;}


.itemFishProduct:hover{border:1px solid #fff;}
.itemFishProduct .btn{margin-bottom:10px;}
.itemFishProduct{text-align:center;margin-bottom:15px;border:1px solid #eee;}
.itemFishProduct img{margin:5px 0px 0px;width:180px;}
.itemFishProduct h3{margin-top:5px;color:#f90}
.itemFishProduct p{font-size:0.8em;}
.itemFishProduct span{color:#19bc9c;}
.fishName{    width: 100%;
    float: left;
    margin: 5px 0px;}
	.searchInput{background:#fff; border: 1px solid #eee;}
	.searchBtn{    border: 1px solid #FFB100;
    background: #FFB100;}
	.navbar-brand>img{ 
    width: 130px;
}
	
.viewCartBtn {
    background: #175096; /* */
    color: #175096;
    //border: 1px solid #eee;
}
.viewCartBtn .item{
  
  width: 20px;
  height: 20px;
  background: rgb(28, 96, 181);
  color: #fff;
  /* font-size: 0.8em; */
  text-align: center;
  border-radius: 100%;
  /* top: 2px; */
  left: 55px;
  /* padding-top: 3px; */
  display: inline-block; 
  
  }

  