html,
body {
    width: 100%;
    height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
  //width:70%;
}

hr.light {
    border-color: #fff;
}

a {
    color: #027cd5;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {

font-weight: 200;
  
}

p {
    margin-bottom: 20px;
    
    line-height: 1.5;
}

.form-control,.btn{border-radius:0px;}
.navbar-default{border-radius:0px;border-color:transparent;background:#61BCFF;color:#fff;}
.navbar-default .navbar-nav>li>a{color:#fff;}
.searchBtn{
    border: 1px solid #FFB100;
    background: #FFB100;
}
.searchInput {
    background: #fff;
    border: 1px solid #eee;
}


@media (min-width: 768px){
.navbar-brand{padding:25px 15px;}
.navbar-form{
margin:20px auto;

}
.navbar-nav>li>a{
    padding:25px 10px;
    

}
.logo {
    background: #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    border: 2px solid #027cd5;
}
.logo img {
    width: 90px;
    margin-top: 15px;
}
  }