<div class="content" ng-controller="UserListController">
	<ol class="breadcrumb" style= "margin-bottom:0px; background-color:none;">
	  <li><a href="#/main">{{'anchor.main'|translate}}</a></li>
	  <li class="active">{{'anchor.main.users'|translate}}</li>
	</ol>
	<div class="page-header">
	  <div class="row">
            <div class="col-sm-8">
                <h2>Users <small></small></h2>
            </div>
            <div class="col-md-4">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-search"></span></div>
                            <input ng-autofocus="true" ng-model="filterTxt" type="text" class="form-control"
                                   placeholder="{{'label.txt.common.searchonpage' | translate}}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
	<section>
		<table class="table table-hover">
			<thead>
				<tr>
				<th>Name</th>
				<th>User name/Email</th>
				<th>Phone number</th>
				<th>Roles</th>
				<th>Is Active</th>
				<th>Is Public User</th>
				<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer" ng-repeat="user in users | filter:filterTxt"  ng-click = "viewUser(user)">
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.phoneNum}}</td>
				<td><div ng-repeat="role in user.roles" title="{{role.description}}">{{role.name}}</div></td>
				<td><div ng-class ="{'active-indicator': user.isActive , 'inactive-indicator': !user.isActive}"> </div></td>
				<td><div ng-class ="{'fa fa-lock green': !user.isPublicUser , 'fa fa-globe blue': user.isPublicUser}"> </div></td>
				<td><i class="fa fa-play"></i></td>
				</tr>
			</tbody>
		</table>
	</section>
	<uib-pager total-items="totalItems" items-per-page = "itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pager>
</div>