<div class="content" ng-controller="ProductsController">
	<ol class="breadcrumb" style= "margin-bottom:0px; background-color:none;">
	  <li><a href="#/main">{{'anchor.main'|translate}}</a></li>
	  <li class="active">{{'anchor.main.products'|translate}}</li>
	</ol>
	<div class="page-header">
	  <h2>{{'heading.page.admin.products'|translate}} <small></small>
	  	 <div class="pull-right" style="margin-right:20px;">
	  	 	<a class="btn btn-primary" href="#/product/createnew" >Create New</a>
	  	 </div></h2>
	</div>
</div>