<div class="content" ng-controller="UserSettingsController">
	<ol class="breadcrumb" style= "margin-bottom:0px; background-color:none;">
	  <li><a href="#/main">{{'anchor.main'|translate}}</a></li>
	  <li class="active">{{'anchor.main.usersettings'|translate}}</li>
	</ol>
	<div class="page-header">
	  <div class="row">
            <div class="col-sm-8">
                <h2>User Settings<small></small></h2>
            </div>
            <!-- div class="col-md-4">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-search"></span></div>
                            <input ng-autofocus="true" ng-model="filterTxt" type="text" class="form-control"
                                   placeholder="{{'label.txt.common.searchonpage' | translate}}">
                        </div>
                    </div>
                </form>
            </div -->
        </div>
	</div>
	<section>
    <h3>update password</h3>
    </section>
</div>